.app--all{
    display: flex;
    align-items: center;
    justify-content: center;
}

.poke--card{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card img{
    height: 40vh;
}

.title--wrapper{
    display: flex;
    justify-content: space-between;
}